@media only screen and (max-width: 600px) {
  .mobile-hidden {
    display: none !important;
  }
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    background-color: white;
  }
  body {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
    height: 525px;
    background-color: #F4F6F9;
    background-image: none;
  }
  header .presentation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .presentation a:first-child {
    margin-bottom: 0px;
  }
  header .presentation .app {
    width: 330px;
    text-align: center;
  }
  header .presentation .app p, header .presentation .app p, header .presentation .app button {
    padding: 10px 0;
  }
  header .presentation .app p:first-of-type {
    font-size: 30px;
    font-weight: 700;
  }
  header .presentation .app p:last-of-type {
    font-size: 16px;
    font-weight: 400;
    margin-top: -20px;
  }
  header .presentation .store {
    width: 145px;
    height: 44px;
    margin-top: 35px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 4px #787878;
            box-shadow: 1px 1px 4px #787878;
    border-radius: 8px;
  }
  header .presentation .store:first-of-type {
    margin-right: 28px;
  }
  header .presentation .store:active {
    -webkit-box-shadow: 1px 1px 2px #F4F6F9;
            box-shadow: 1px 1px 2px #F4F6F9;
  }
  header .presentation .google {
    background: url(images/Google-Play.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  header .presentation .apple {
    background: url(images/Apple-Store.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  main {
    width: 360px;
  }
  main .p1 {
    font-size: 16px !important;
    font-weight: bold !important;
    color: #00ADEE !important;
    text-transform: uppercase !important;
  }
  main .p2 {
    font-size: 28px !important;
    font-weight: bold !important;
    color: #333333 !important;
    text-transform: capitalize !important;
  }
  main .p3 {
    font-size: 16px !important;
    color: #4F4F4F !important;
    font-weight: 400 !important;
  }
  main .p4 a {
    font-size: 16px !important;
    font-weight: bold !important;
    color: #00ADEE !important;
  }
  main .p4 a:active {
    color: #51cefc !important;
  }
  main .what-it-does {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 828px;
    width: 360px;
  }
  main .what-it-does .wit-text {
    width: 320px;
    height: 468px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .what-it-does .wit-text p {
    margin: 10px 0;
  }
  main .what-it-does .previews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 360px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, white), color-stop(transparent), color-stop(99.9%, rgba(255, 255, 255, 0.384))), url(images/Mobile/Section2-mobile.png);
    background: linear-gradient(0.5turn, white 10%, transparent, rgba(255, 255, 255, 0.384) 99.9%), url(images/Mobile/Section2-mobile.png);
    background-position: left;
    background-repeat: no-repeat;
  }
  main .what-it-does .previews .mobile-preview-img {
    position: relative;
    width: 521px;
    height: 279px;
    background: url(images/Mobile/app-preview-mobile.png);
    background-position: 50% 25%;
  }
  main .get-started {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 992px;
    width: 360px;
  }
  main .get-started .gs-text {
    width: 360px;
    height: 427px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .get-started .gs-text p {
    margin: 10px 0;
  }
  main .get-started .mobile-background {
    width: 360px;
    height: 565px;
    background: url(images/Mobile/Section3-mobile.png);
  }
  main .features {
    background: #F4F6F9;
    width: 360px;
    height: 1775px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  main .features .feature-desktop {
    display: none;
  }
  main .features p:first-child {
    position: relative;
    top: 70px;
  }
  main .features div {
    width: 311px;
    margin-top: 50px;
  }
  main .social-reviews {
    width: 360px;
    height: 402px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .social-reviews .sr-blur {
    display: none !important;
  }
  main .social-reviews .sr-social {
    position: relative;
    width: 360px;
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .social-reviews .sr-social .arrows-container {
    width: 360px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .social-reviews .sr-social .arrows-container img {
    position: relative;
    left: 20px;
  }
  main .social-reviews .sr-social .social-box {
    width: 309px !important;
    height: 161px;
    border: 1px solid #828282;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px;
  }
  main .social-reviews .sr-social .social-box .sb-name {
    width: 279px;
    height: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
  }
  main .social-reviews .sr-social .social-box .sb-name p {
    margin-left: 11px;
    font-size: 16px;
    font-weight: bold;
  }
  main .social-reviews .sr-social .social-box .sb-name img:last-child {
    margin-left: auto;
  }
  main .social-reviews .sr-social .social-box .sb-content {
    width: 279px;
    height: 98px;
    padding-left: 17px;
    padding-right: 13px;
    font-size: 14px;
  }
  main .social-reviews .sr-img {
    width: 360px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .featured-in {
    background: #F4F6F9;
    width: 360px;
    height: 409px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .featured-in div:last-child {
    width: 320px;
    height: 201px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .featured-in div:last-child #margin {
    margin-right: 1px;
  }
  main .featured-in div:last-child #centered {
    position: relative;
    left: 75px;
    top: 15px;
  }
  main .last-section {
    width: 360px;
    height: 696px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .last-section .ls-text {
    height: 435px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .last-section .ls-text .p3 {
    margin-top: -20px;
    width: 309px;
    line-height: 22px;
  }
  main .last-section .ls-text div img:first-child {
    margin-right: 24px;
  }
  main .last-section .ls-img {
    height: 261px;
    width: 100%;
    background: url(images/Mobile/last-section-mobile.png);
  }
  footer {
    width: 360px;
    height: 210px;
    background: #00ADEE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer div {
    width: 360px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-left: 20px;
  }
  footer .footer-social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 15px;
    padding-left: 10px;
  }
  footer .footer-social img {
    margin: 0 8px;
  }
  footer .footer-links {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 8px;
  }
}
/*# sourceMappingURL=mobile.css.map */